<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Robert Goheen</title>
    <meta name="description" content="">
    <meta name="author" content="Robert Goheen">

      <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>      
      
      <link href="assets/css/normalize.css" rel='stylesheet' type='text/css'>
      
      <style type="text/css">

      html {
        background: url('assets/img/{{#theme}}{{image}}{{/theme}}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      body {
        text-align: center;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 40px;         
      }
      .content {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding: 3em 8em 4em 4em;
      }
      h1 {
        color: {{#theme}}{{font-color}}{{/theme}};
        font-family: 'Rokkitt';
        font-weight: 700;
        font-size: 128px;
        padding: 0px;
        margin: 0px;
      }
      p {
        color: {{#theme}}{{font-color}}{{/theme}};
        font-family: 'Rokkitt';
        font-size: 36px;
        padding: 0px;
        margin: 0px;
      }
      .tagline {
        font-weight: 300;
        font-size: {{#tagline}}{{font-size}}{{/tagline}}px;
      }
      .lead {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 36px;
      }
      a{
        color: {{#theme}}{{font-color}}{{/theme}};
        text-decoration: none;
      }
      a:hover {
        color: {{#theme}}{{hover-font-color}}{{/theme}};
      }

      @media only screen and (max-width: 1000px) {
        .content {
          padding: 2em 2em 2em 2em !important;
        }
      }

      </style>     
  </head>

   <body>
    <div class="content">
       <h1>Robert Goheen</h1>
       <p class="tagline">{{#tagline}}{{tagline}}{{/tagline}}</p>
       <p class="lead"><a href="http://www.flickr.com/search/?q=seattle+skyline">Seattleite</a>. <a href="https://twitter.com/search?q=london">Londoner</a>. <a href="http://github.com/rsgoheen">Coder</a>. <a href="https://www.kexp.org/donate">KEXP Supporter</a>. Occasionally found in locations like <a href="http://twitter.com/rsgoheen/">Twitter</a>, <a href="http://linkedin.com/in/rsgoheen/">LinkedIn</a> and <a href="http://www.flickr.com/photos/43625865@N04/">Flickr</a>.</p>
    </div>
   </body>
</html>
